In [1]:
# Dependencies
import operator
import pandas as pd
import numpy as np

In [2]:
# Name of the CSV file
file = 'Resources/201808-citibike-tripdata.csv'

In [3]:
# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
# Preview of the DataFrame
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,681,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,625,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,1319,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,220,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,398,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [5]:
# Identify incomplete rows
df.count()

tripduration               1977177
starttime                  1977177
stoptime                   1977177
start station id           1975789
start station name         1975789
start station latitude     1977177
start station longitude    1977177
end station id             1975789
end station name           1975789
end station latitude       1977177
end station longitude      1977177
bikeid                     1977177
usertype                   1977177
birth year                 1977177
gender                     1977177
dtype: int64

In [6]:
# Drop all rows with missing information
df = df.dropna(axis=0, how='any')

In [7]:
# Verify dropped rows
df.count()

tripduration               1975789
starttime                  1975789
stoptime                   1975789
start station id           1975789
start station name         1975789
start station latitude     1975789
start station longitude    1975789
end station id             1975789
end station name           1975789
end station latitude       1975789
end station longitude      1975789
bikeid                     1975789
usertype                   1975789
birth year                 1975789
gender                     1975789
dtype: int64

In [8]:
# The Amount column is the wrong data type. It should be numeric.
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [9]:
#df['tripduration'] = pd.to_datetime(df['tripduration'], unit='m')
fmt = operator.methodcaller('strftime', '%H:%M:%S')
df['tripduration'] = pd.to_datetime(df['tripduration'], unit='m').map(fmt)

In [10]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,11:21:00,2018-08-01 00:00:07.3210,2018-08-01 00:11:28.9920,3162.0,W 78 St & Broadway,40.783400,-73.980931,3383.0,Cathedral Pkwy & Broadway,40.804213,-73.966991,27770,Subscriber,1986,1
1,10:25:00,2018-08-01 00:00:19.7480,2018-08-01 00:10:45.0290,3260.0,Mercer St & Bleecker St,40.727064,-73.996621,2012.0,E 27 St & 1 Ave,40.739445,-73.976806,25938,Subscriber,1969,1
2,21:59:00,2018-08-01 00:00:21.1750,2018-08-01 00:22:20.6370,403.0,E 2 St & 2 Ave,40.725029,-73.990697,285.0,Broadway & E 14 St,40.734546,-73.990741,28679,Subscriber,1970,1
3,03:40:00,2018-08-01 00:00:26.4700,2018-08-01 00:04:06.8190,3637.0,Fulton St & Waverly Ave,40.683239,-73.965996,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,28075,Subscriber,1982,1
4,06:38:00,2018-08-01 00:00:30.2910,2018-08-01 00:07:09.2810,3662.0,31 Ave & Steinway St,40.761294,-73.916917,3517.0,31 St & Hoyt Ave N,40.771153,-73.917007,25002,Subscriber,1987,1

In [ ]:
# Display an overview of the Employers column
df.describe()

In [ ]:
# Verify clean-up.
df['start station name'].value_counts()

In [ ]:
df.to_csv("Output/201808-citibike-tripdata.csv", index=False, header=True)